.author_page_wrapper {
    background-color: white;
}

.items_container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 100px 0;
}

/* about author block */
.info_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_block_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 0;
}
/* 
.img_wrap img {
    position: inherit;
    z-index: 2;
}
.img_wrap {
    position: relative;
    display: inline-block;
}

.img_wrap::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 55px;
    width: calc(100% - 200px);
    height: 590px;
    border: 15px solid #ffca42;
    z-index: 1;
} */

.span_line_to_left {
    text-align: left;
    margin: 0;
}

.info {
    font-size: 19px;
    color: #969aa0;
}
.achievements {
    color: #969aa0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.achievements > p:nth-child(even) {
    width: 100%;
    border-right: 1px solid #ffca42;
    border-left: 1px solid #ffca42;
    padding: 0 50px;
}
.achievements > p > p {
    font-size: 54px;
    font-family: "Cardo", serif;
    color: #1b3764;
}
.achievements > p > span {
    font-size: 17px;
}

/* qr */

.qr_block {
    display: flex;
    gap: 40px;
    width: fit-content;
    background-color: #1b3764;
    padding: 20px;
}

.qr_block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.qr_block > div p {
    color: #b4c7e7;
}
.qr_block > div .qr_name {
    color: #ffca42;
    font-family: "Cardo", serif;
    font-size: 22px;
}

@media only screen and (max-width: 1200px) {
    .items_container {
        flex-direction: column;
    }
    .about_block_wrapper {
        grid-template-columns: 1fr;
    }
}
