* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
}

.mainContainer {
    max-width: 2180px;
    margin: 0 auto;
}
