* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #1b3764; */
    color: #f6f8fc;
    /* font-family: 'Cardo', serif; */
    font-family: 'Inter', sans-serif;
}

.active {
    color: #ffca42 !important;
}