.wrap {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}

.info_block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 50px;
}

.title {
    font-size: 32px;
    color: #1b3764;
    font-family: "Cardo", serif;
}

.price {
    font-size: 21px;
    color: #ffca42;
}

.info {
    font-size: 19px;
    color: #969aa0;
}

.text_printedBook {
    position: relative;
    font-size: 24px;
    color: #1b3764;
    font-family: "Cardo", serif;
    padding: 0 0 0 25px;
}
.text_printedBook span {
    color: #ffca42;
    font-size: 80px;
    position: absolute;
    top: -35px;
    left: 0px;
}
