body {
    background-color: rgb(58, 58, 58);
    font-family: Nunito, sans-serif;
}

.wrap{
    position: relative;
    display: flex;
    gap: 20px;
}

.hover_element {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: orangered;
    transition: all 0.3s ease;
    z-index: 0;
}

.wrap_hover_block{
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.punkt_menu{
    color: white;
}