body {
    background-color: rgb(58, 58, 58);
    color: rgb(182, 182, 174);
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
}

#root{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

#root div{
    width: 250px;
    border: 1px solid black;
}