.products_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

}


@media only screen and (max-width: 900px) {
    .products_container{
 
        grid-template-columns: 1fr;
        gap: 20px;
    
    }
  }