.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
.flex_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
} */

.logo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo_wrapper .logoImg {
    height: fit-content;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 20px 0 0;
}

.icons {
    width: 45px;
    height: 45px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------- */

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 30px 0 0;
}

.nav a {
    text-decoration: none;
    color: white;
}
.nav p {
    display: flex;
    align-items: center;
    height: 66px;
    background: #ffca42;
    border: 2px solid #ffca42;
    border-radius: 0px;
    padding: 0 30px;
    color: black;
    margin: 0 0 0 30px;
    font-family: "Cardo", serif;
}

.btn {
    font-weight: bold;
    color: blueviolet;
}

.buttonMenu {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .buttonMenu {
        display: block;
        font-size: 50px;
        padding: 0px 30px;
    }
    .nav {
        display: none;
        /* display: flex; */
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: #0c2040;
        padding: 38px;
        font-size: 30px;
        height: 50%;
        min-height: fit-content;
        align-items: baseline;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .nav ul {
        flex-direction: column;
        gap: 50px;
        padding: 0 0 60px 0;
    }
}
