body {
    background-color: rgb(58, 58, 58);
    color: rgb(182, 182, 174);
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
}

.users_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}