.image{
background: url("./im.png");
height: 600px;
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
text-align: center;
background-size: cover;
background-position: center;
}

.image p{
font-size: 24px;
}

.image h2{
font-size: 64px;
}