.wrap{
    /* padding: 20px; */
    /* border: 1px solid gray; */
    /* margin: 10px 0; */
    background-color: rgb(125, 125, 249);
    /* border-radius: 12px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
