.btn {
    border-radius: 21px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.addToCart {
    border: 2px solid #393;
    background: #f1fff1;
    color: #393;
    width: 90%;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.ToCart_individual {
    border-radius: 10px;
    border: 2px solid #393;
    background: #393;
    padding: 25px 120px;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.HeaderMenuButton {
    background: #393;
    border-radius: 5px;
    color: #f1fff1;
}
.HeaderMenuButton a {
    text-decoration: none;
    color: #f1fff1;
}

.BannerSale {
    background: #f1fff1;
    color: black;
    padding: 25px 50px;
    border-radius: 13px;
}

.transp {
    color: #8b8b8b;
    background-color: transparent;
    border: 3px solid #8b8b8b;
    border-radius: 0;
}

.getDiscount {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-size: 28px;
    font-weight: 700;
}
