body {
  background-color: rgb(58, 58, 58);
  color: rgb(182, 182, 174);
  font-family: Nunito, sans-serif;
  /* font-family: Roboto, sans-serif; */
}

.products_container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.product_card > div {
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
}
