.addPlayerForm {
      border: 1px solid black;
      padding: 30px;
      width: 80%;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 8px;
      background-color: #5327d74a;
}

.addPlayerForm input {
      border: 1px solid gray;
      border-radius: 8px;
      padding: 10px;
      width: 100%;
}

.addPlayerForm button {
      border: 1px solid gray;
      background-color: #5327d7;
      color: white;
      cursor: pointer;
      border-radius: 8px;
      padding: 10px;
}
