.cartItemWrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 20px 0;
    border-top: 1px solid gray;
    gap: 40px;
    position: relative;
}

.cartItemWrap:last-child {
    border-bottom: 1px solid gray;
}
.cartItemWrap img {
    width: 190px;
    border-radius: 20px;
}

.titleCountBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titleCountBlock > p {
    font-size: 18px;
    font-weight: 600;
}

.titleCountBlock > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #000;
}

.titleCountBlock > div input {
    border: none;
    outline: none;
    padding: 10px;
    width: 140px;
}
.titleCountBlock > div p {
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.delFromCart {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    padding: 5px;
}

.delFromCart:hover {
    color: red;
}
