body {
  background-color: rgb(58, 58, 58);
  color: rgb(182, 182, 174);
  font-family: Nunito, sans-serif;
  /* font-family: Roboto, sans-serif; */
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
}

.productsWrapper > div {
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}
