.input_wrap {
    /* border-radius: 6px; */
    margin: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
}
.input {
    padding: 10px 40px 10px 10px;
    border: none;
    outline: none;
    border-radius:5px;
    width:300px;
}
.btn{
    display: flex;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 5px;
    font-size: 25px;
}
