.darkMode {
    background: #242424;
    transition: 0.2s;
    color: white;
}

.lightMode {
    background: inherit;
    transition: 0.2s;
}

.darkMode a {
    color: white;
}

.button {
    padding: 30px 50px;
    border-radius: 15px;
    background-color: #274C5B;
    cursor: pointer;
    color: white;
    display: block;
    width: fit-content;
    margin: 20px auto;
}
