* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(58, 58, 58);
    color: rgb(182, 182, 174);
    /* font-family: Nunito, sans-serif; */
    font-family: Roboto, sans-serif;
  }


  .form_item {
    padding: 20px;
    width: 350px;
  }
  
  .form_title {
    font-size: 28px;
    font-weight: 800;
  }
  
  .info_text {
    font-size: 14px;
    font-weight: 400;
    color: #7B8E98;
  }