.contacts {
    background-color: #f6f6f6;
    padding: 100px 0;
    text-align: center;
    color: #070707;
}

.contacts h2 {
    font-size: 34px;
}

.contacts button {
    width: 180px;
    color: white;
    padding: 10px;
    background-color: #070707;
    border: none;
    border-radius: 20px;
    margin-bottom: 80px;
}
.pictograms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 500px;
    margin: 0 auto;
}
.contacts p {
    padding: 40px 0;
}

.contacts p:last-child{
    color: #828282;
}