.wrap {
    position: relative;
}
.wrap__sceleton {
    position: relative;
    background-color: #d1fdc6;
    border-radius: 50px;
    height: 200px;
    width: 100%;
}
.productWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    height: 100%;
    min-height: 400px;
}
.productWrapper img {
    border-radius: 20px;
}
.wrap button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
}
.wrap:hover button {
    visibility: visible;
    opacity: 1;
}

.productWrapper img {
    object-fit: cover;
    width: 100%;
}

.priceBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    font-size: 30px;
    font-weight: 600;
}
.oldPrice {
    font-size: 20px;
    text-decoration: line-through;
    color: #8b8b8b;
}
.price span,
.oldPrice span {
    font-size: 0.6em;
}
.sale {
    font-size: 20px;
    color: #ff32a1;
}

.title {
    color: #3a3a3a;
    font-size: 16px;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .wrap button {
        visibility: visible;
        opacity: 1;
        bottom: 50px;
        height: 50px;
    }
    .priceBlock {
        padding: 0 30px;
    }
    .title {
        font-size: 20px;
        border-radius: 15px;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        background: #161616b0;
        backdrop-filter: blur(3px);
        padding: 10px 10px;
        color: white;
    }
}
