* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(226, 226, 226);
  font-family: 'nunito'
}

.main_container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.Wrapp_ControlContent{
  display: grid;
  grid-template-columns: 3fr 9fr;
  margin: 20px 0;
}