.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    margin: 8px 0px;

    width: 100%;
    border-radius: 55px;

    color: #1a1a1a;
    font-weight: 700;
    font-size: 16px;

    cursor: pointer;
}

.yellow {
    background-color: #ffc72d;
    border: 1px solid #ffc72d;
}

.white {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
}
